.item {
  width: 550px;
  margin: 20px;
  padding: 8px;
  overflow:auto;
  background-color:#fbf7f7;
  box-shadow: 10px 10px 5px grey;
}
.item h3 {font-size:1em; margin:3px;}
.item h2 {margin:3px;}
.item-img {float: left;
max-height:300px;
max-width:250px;}

.product-info {
  float: left;
  width: 280px;
}
